$base: rgb(76, 99, 115)

$main: #657C8D

$green: #6a8981
    
//* --PRIVATE-PAGE-- *//
.private-main-block
  display: grid
  grid-template-rows: 6vh auto
  overflow: hidden

.private-content-block
  grid-template-rows: 6vh auto

.aside-private-h2
  padding: 2.5vh 0 1vh 0
  text-align: center
  color: #fff
  text-transform: uppercase

//*-- PRIVATE-DATA-- *//
.main-private-data-list
  width: 200%
  height: 100%
  display: grid
  grid-template-columns: 1fr 1fr
  box-sizing: border-box
  position: relative

.main-private-data-item
  display: grid
  grid-template-rows: auto 1fr auto
  width: 100%
  height: 100%  
  padding: 2vh 0 0 2vw
  box-sizing: border-box
  opacity: 1
  transition: 0.3s linear

.transform-start
  transform: translateX(0%)

.transform-start-2
  transform: translateX(0%)

.visibale-private
  transform: translateX(100%)
  opacity: 1

.visibale-private-last
  transform: translateX(-100%)
  opacity: 1

.main-private-h2
  font-size: 2em

.main-private-h3
  font-size: 1.5em
  padding: 2vh 0
  text-transform: uppercase
  box-sizing: border-box

.private-data-list
  display: grid
  grid-template-columns: 1fr 1fr
  grid-auto-rows: 6vh

.private-data-item, .private-data-form-ladel
  padding: 2vh 0
  font-size: 1.4em
  font-weight: bold
  box-sizing: border-box
  color: $green

.private-data-item:nth-child(even)
  color: #4c6373

.private-data-form
  display: grid
  grid-template-rows: auto 1fr
  gap: 1vh

.wrap-private-data-form
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 1vh

.wrap-form-button
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 1vw
  align-items: end
  padding-bottom: 5vh
  box-sizing: border-box

.private-data-form-input
  width: 30vw
  margin: 0 auto 0 auto
  height: 4vh
  padding: 0 2vh
  box-sizing: border-box
  border-radius: 10px 15px
  border: 2px solid #4c6373
  outline: none
  font-size: 1.5em
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.2)

.create-product-input-foto
  

//* --CART-PAGE-- *//
.wrap-cart-block
  padding-bottom: 5vh
  
.main-cart
  display: grid
  grid-auto-columns: auto auto auto 1fr
  padding: 0 0 5vh 15vh
  box-sizing: border-box
  grid-template-rows: 5vh 6vh 7vh auto 

.empty-block
  padding: 0 0 2vh 5vh

.empty-box
  font-size: 2em
  color: $base 
  padding-bottom: 2vh

.empty-link
  width: 20%

.empty-link:hover
  color: #fff

.full-block
  display: none

.cart-top-block
  padding: 0 0 0.5vh 0
  border-bottom: 1px solid #4c6373
  display: grid
  grid-template-columns: 1fr 1fr
  margin-left: 5vh

.wrap-cart-checkbox
  display: inline-flex
  align-items: center
  gap: 0.5vw

.cart-checkbox-label
  font-size: 1.2em
  color: #4c6373
  font-weight: bold

.wrap-cart-cancel
  display: grid
  justify-content: end
  align-items: center

.cart-button-cancel
  color: #fff
  padding: 0.5vh 1vw
  text-transform: uppercase
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.2)
  cursor: pointer
  height: 3vh
  line-height: 0
  border-radius: 10px 5px 10px 5px

.cart-block
  display: grid
  grid-template-columns: 3fr 1fr
  gap: 25px
  margin-left: 5vh

.cart-block-list
  padding: 5vh 0 0 0 

.cart-block-item
  display: grid
  grid-template-columns: auto 35% 55%
  grid-auto-rows: 20vh
  gap: 1vw
  color: #4c6373
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.2)
  padding: 2vh
  box-sizing: border-box
  border-radius: 20px 10px 20px 10px
  margin-bottom: 3vh

.cart-block-item:last-child
  margin-bottom: 0

.cart-block-info
  display: grid
  grid-template-rows: 1fr auto auto
  transition: 0.5s

.cart-name-product
  font-size: 2em
  padding: 1vh 0 2vh
  text-align: right

.cart-name-article
  font-size: 1.2em
  text-align: right

.cart-name-price
  font-size: 1.7em
  padding: 1vh 0 2vh
  text-align: right

.wrap-main-block .cart-name-product
  font-size: 0.8em

.cart-name-date
  font-size: 0.8em

.wrap-main-block .cart-name-price
  font-size: 0.8em

.cart-block-icon-list
  width: 100%
  height: 100%
  display: inline-flex
  justify-content: end
  align-items: flex-end
  gap: 2vw

.cart-block-icon-item
  cursor: pointer
  transition: 0.3s
  position: relative

.draw-link
  width: 100%
  padding: 2vh 0
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.2)
  box-sizing: border-box
  border-radius: 20px 10px 20px 10px
  color: #fff
  text-transform: uppercase
  cursor: pointer
  display: block
  text-align: center

.draw-link:hover
  color: #fff

.cart-block-draw-top
  display: grid
  grid-template-columns: 1fr 1fr
  padding: 3vh 0 0.5vh 0
  border-bottom: 1px solid #4c6373
  font-size: 1.2em
  font-weight: bold

.draw-top-second
  text-align: right

.draw-up-list
  padding: 3vh 0 0 0
  border-bottom: 1px solid #4c6373

.draw-up-item
  padding-bottom: 0.5vh
  font-size: 1.1em

.draw-up-item:nth-child(even)
  padding-bottom: 2vh
  text-align: right

.draw-up-total-list
  display: grid
  grid-template-columns: 1fr 1fr
  padding: 1vh 0 1vh 0
  align-items: end

.draw-up-total-item
  margin-bottom: 2vh
  font-size: 1.5em

.draw-up-total-item:nth-child(even)
  text-align: right
  font-weight: bold

.draw-up-total-item:last-child
  color: $green
  font-size: 1.7em

.purchased
  grid-template-columns: 1fr

.item-content-block
  grid-template-rows: 1fr

.item-content-box-item
  padding-bottom: 1.5vh

.wrap-a-left
  margin-left: -1.4vw

.aside-h1 
  font-size: 4em


